@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.GameOfLife {
    width: 100vw;
    height: calc(100vh - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Board {
    width: 1200px;
    height: 580px;
    background-color: black;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.Row {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.Cell {
    cursor: pointer;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 20px;
}

.alive {
    background-color: white;
}

.Buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
}

.button {
    width: 45px;
    height: 45px;
    background: brown;
    border-radius: 10px;
    border: none;
    margin-bottom: 8px;
    cursor: pointer;
}

.icon {
    font-size: 25px;
    color: white;
}
